@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="col">
                <h3>Hello World</h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut commodo tellus. Donec convallis eleifend ullamcorper. Aliquam non tincidunt ipsum. Donec id suscipit urna. Nullam tempor quis enim in condimentum. Praesent volutpat rhoncus enim, eget lobortis leo posuere in. Nullam vehicula vel ipsum molestie commodo. Proin sit amet nisi vitae tortor convallis consectetur.
            </div>
            <div class="col-sm-6">
                Morbi pulvinar lectus ac turpis semper faucibus. Aenean et sodales tellus. Ut sapien ex, mattis vitae tempus vitae, eleifend ut tellus. Duis at condimentum nunc. Fusce euismod malesuada accumsan. Nulla in velit sit amet nunc aliquet suscipit sed eu erat. Aliquam tempor pulvinar nibh, eu blandit odio pharetra et. Suspendisse potenti.
            </div>
        </div>
        <div class="panel-footer">
            <div class="col">
                You are using @Request.Browser.Browser, and that's cool!
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(function () {
            //TODO: test letak script kat sini
        });
    </script>
}